@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
  /* Colors */
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-cyan-50: hsla(178, 100%, 50%, 0.5);
  --color-dark-blue-bg: hsl(217, 54%, 11%);
  --color-dark-blue-card-bg: hsl(216, 50%, 16%);
  --color-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);

  /* Typography */
  --font-size-paragraph: 18px;

  /* Font */
  --font-family: 'Outfit', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: var(--font-size-paragraph);
  color: var(--color-soft-blue);
  font-family: var(--font-family);
}
.background {
  background-color: var(--color-dark-blue-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background-color: var(--color-dark-blue-card-bg);
  width: 20rem;
  padding: 1.4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

/* Elements of card */
.card__image {
  background-image: url('images/image-equilibrium.jpg');
  background-size: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.4rem;
}

.card__image--hover {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card__image--hover:hover {
  color: white;
  background-color: var(--color-cyan-50);
  border-radius: 0.4rem;
}

.card__image--hover img {
  visibility: hidden;
}
.card__image--hover:hover img {
  visibility: visible;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.card__title {
  color: white;
}

.card__title:hover {
  color: var(--color-cyan);
  cursor: pointer;
}

.card__description {
}

.card__stats {
  display: flex;
  justify-content: space-between;
}

.card__stats-system {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--color-cyan);
}

.card__stats-time {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card__divider {
  color: var(--color-soft-blue);
  opacity: 0.3;
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__author-img {
  width: 3rem;
  border: 1px solid white;
  border-radius: 50%;
}

.card__author-name--highlited {
  color: white;
}

.card__author-name--highlited:hover {
  color: var(--color-cyan);
  cursor: pointer;
}
